# Local
.DS_Store
*.local
*.log*
coverage/

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Environment variables
.env

# Playwright
test-results/
playwright-report/
e2e/.auth/
playwright/.cache/
